[Unit]
Description=Cloudflare Tunnel (eblusha.org)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/cloudflared --no-autoupdate --config /etc/cloudflared/config.yml tunnel run
Restart=on-failure
RestartSec=5
User=root
# Ограничение открытых файлов для многих WS
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
